<p style="color: green"><%= notice %></p>

<%# <%= render @todo_list %>

<%# <% render @todo_items/form %>
<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>
<div id="todo_items_wrapper">
 <%= render @todo_list.todo_items %>
 <div id="form">
  <%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
    <%= f.text_field :content, placeholder: "New Todo" %>
    <%= f.submit %>
   <% end %>
 </div>
</div>


<div>
  <%= link_to "Edit", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back", todo_lists_path %>

  <%= button_to "Destroy", @todo_list, method: :delete %>
</div>
